.tab {
    overflow: hidden;
    background-color: #9AACD9;
    color: #5a5767c5;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #5A5767;
    border-radius: 10px 10px 0 0; /* Match the parent's border radius */
    z-index: 1;
}

.tab button:hover {
    color: #312D41;
    background-color: #d3d3d3; /* Light grey for hover effect */
}

.tab button.active {
    color: #312D41; /* Color for the active tab text */
    background-color: #fff; /* Background color for the active tab */
    border-radius: 10px 10px 0 0;
    position: relative; /* Ensure the button is positioned correctly */
    z-index: 2; /* Higher z-index to overlap on other elements */
}

/* This will create the notch effect */
.tab button.active::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust this value to move the notch up or down */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Left side of the notch */
    border-right: 20px solid transparent; /* Right side of the notch */
    border-top: 10px solid #fff; /* Top color and notch size */
    z-index: 1;
}



.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none; /* Remove if you don't want border around the content */
}
